<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.FirstName" class="form-control" />
			<ValidationMessage For="@(() => customer.FirstName)" />
		</div>
	</div>
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.LastName" class="form-control" />
			<ValidationMessage For="@(() => customer.LastName)" />
		</div>
	</div>
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.DrivingLicense" class="form-control" />
			<ValidationMessage For="@(() => customer.DrivingLicense)" />
		</div>
	</div>
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.Address" class="form-control" />
			<ValidationMessage For="@(() => customer.Address)" />
		</div>
	</div>
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.ContactNumber" class="form-control" />
			<ValidationMessage For="@(() => customer.ContactNumber)" />
		</div>
	</div>
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="customer.EmailAddress" class="form-control" />
			<ValidationMessage For="@(() => customer.EmailAddress)" />
		</div>
	</div>


	<button type="submit" class="btn btn-success btn-block">
		@ButtonText
	</button>

</EditForm>

@code {
	[Parameter] public Customer? customer { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}
